# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Environments
.venv/
env/
venv/
.env

# Django
db.sqlite3
media/
data/dms/
staticfiles/
# Byte-compiled / logs
*.log

# VS Code / IDE
.idea/
.vscode/
*.swp
*.swo

# Node / frontend artifacts
node_modules/
*.tsbuildinfo

# macOS
.DS_Store

# Poetry
.cache/

# Local settings
settings.local.json
